<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BobbyList - Home</title>
    <link rel="stylesheet" href="./static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bobbylist/static/css/font-awesome.min.css">
    <link rel="stylesheet" href="/bobbylist/static/css/mdb.min.css">
    <link rel="stylesheet" href="/bobbylist/static/css/bobbylist.css">
</head>
<body class="dualcolorbackground" style="font-family: 'HelveticaNeueThin'">

    <div class="full-bg-img flex-center white-text">
        <div class="animated fadeInUp">

        </div>
    </div>
<script src="/bobbylist/static/js/bootstrap.min.js"></script>
<script src="/bobbylist/static/js/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.3.2/js/mdb.min.js"></script>
</body>
</html>