<div class="card hoverable white" style="padding: 10px;margin-bottom: 5px">
    <div class="task_tags_holder">
        <div class="important task_tag" style="background: #ffa000; opacity: 0.3"></div>
        <div class="average task_tag" style="background: #00C853; opacity: 0.3"></div>
        <div class="starter task_tag" style="background: #aa00ff; opacity: 0.3"></div>
    </div>
    <h3>Ensure every record to be safe in database</h3><hr>
    <div class="readmore" style="overflow-y: hidden; color: #000">
        <p>Create a stage application to check whether every record is safe in database, If not make it safe with a firewall transaction mechanism. Create a stage application to check whether every record is safe in database, If not make it safe with a firewall transaction mechanism. Create a stage application to check whether every record is safe in database, If not make it safe with a firewall transaction mechanism</p>
    </div>
    <label style="padding: 5px 10px 5px 10px; border-radius: 50px; border: 1px solid #514A9D">Due by : 2018-07-10</label><hr>
    <fieldset class="view_milestones_fieldset">
        <label class="view_milestones_legend" style="cursor: pointer;">View Milestones</label>
        <div class="view_milestones_div" style="display:none" >
            <ul style="list-style: none">
                <li>milestone 1</li>
                <li>milestone 2</li>
            </ul>
        </div>
    </fieldset>
    <div style="display: flex;margin-top: 5px">
        <div style="display: flex">
            <label>Assigned by : </label>
            <img src="{{ url_for('static', filename="imgs/bobbylist_user.png") }}" class="rounded-circle" style="width: 25px;height: 25px;border-radius: 25px">
            <label>BharathAppali</label>
        </div>
        <div style="flex: 1;text-align: right">
            <label>51 days to go</label>
        </div>
    </div>
</div>